.background {
  width: 100%;
  height: 100%;
  viewport-fill: black;
}

.d20 {
  width: 275;
  height: 300;
  x: 4%;
  y: 0;
}

#myHour {
  font-size: 70;
  font-family: "Tungsten-Medium";
  text-length: 4;
  text-anchor: middle;
  x: 50%;
  y: 25%+10;
  fill: white;
}

#myMin {
  font-size: 70;
  font-family: "Tungsten-Medium";
  text-length: 4;
  text-anchor: middle;
  x: 50%;
  y: 50%+35;
  fill: white;
}

#myDate {
  font-size: 20;
  font-family: "Tungsten-Medium";
  text-length: 8;
  text-anchor: start;
  x: 20%;
  y: 60%+20;
  fill: white;
}

#myMonth {
  font-size: 20;
  font-family: "Tungsten-Medium";
  text-length: 8;
  text-anchor: start;
  x: 20%;
  y: 50%+70;
  fill: white;
}